.bento_bentoBoxContainer__XpTqh {
    --bento-spacing-padding: var(--spacing-24);
    --bento-shadow-level: var(--shadow-level-200);
    --bento-border-radius: var(--border-radius-400);
    --bento-border-radius-md: var(--border-radius-700);
    --bento-border-color: var(--color-border);
    --bento-border-width: var(--border-width-1);
    --bento-box-gutter: 16px;
    --bento-image-gap: 0px;
    --bento-red: #f77463;
    --bento-blue: #62aef0;
    --bento-yellow: #e9dec0;
    --bento-teal: var(--color-gray-500);
    --bento-header-bg-color: var(--color-white);
    --bento-item-gap: 0px;
    --bento-box-wide-top-margin: 0px;
    --bento-card-radius: 16px;
    gap: var(--bento-box-gutter)
}

@media(min-width:1080px) {
    .bento_bentoBoxContainer__XpTqh {
        --bento-box-gutter: 24px
    }
}

@container (width >=960px) {
    .bento_bentoBoxContainer__XpTqh {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@container (width < 960px) {
    .bento_bentoBoxContainer__XpTqh {
        display: flex;
        flex-direction: column
    }
}

.bento_bentoBoxItem__2dIxx {
    --bento-item-border-radius: 8px;
    border-radius: var(--bento-item-border-radius);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--bento-item-gap);
    overflow: hidden;
    transition: box-shadow .2s cubic-bezier(.645, .045, .355, 1)
}

@media(min-width:840px) {
    .bento_bentoBoxItem__2dIxx {
        --bento-item-border-radius: 16px
    }
}

.bento_bentoBoxItem__2dIxx:focus-within,
.bento_bentoBoxItem__2dIxx:hover {
    box-shadow: var(--shadow-level-200)
}

@container (width < 960px) {
    .bento_bentoBoxItem__2dIxx {
        gap: 0
    }
}

.bento_withBgImage__lVDez {
    background-image: var(--bento-bg-image);
    background-size: cover;
    background-position: 100% 0
}

.bento_bentoHeaderWrapper__3UQRr {
    background-color: var(--bento-header-bg-color);
    padding: var(--bento-spacing-padding);
    gap: 8px
}

.bento_bentoEyebrow__BoSU4 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px
}

@media(min-width:1080px) {
    .bento_bentoEyebrow__BoSU4 {
        margin-bottom: 8px
    }
}

.bento_bentoEyebrowIcon__nitTT {
    width: 24px;
    height: 24px
}

@media(min-width:1280px) {
    .bento_bentoEyebrowIcon__nitTT {
        width: 28px;
        height: 28px
    }
}

.bento_bentoEyebrowText__fZdc_ {
    margin: 0
}

.bento_bentoTitleWrapper__mbL1Y {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.bento_bentoTitle__xNRRt {
    margin: 0
}

.bento_bentoArrow__H_l0R {
    margin-inline-start: auto;
    align-self: flex-end
}

.bento_bentoArrow__H_l0R svg {
    width: 100%;
    height: auto
}

.bento_bentoImageContainer__ZENzS {
    display: flex;
    padding: 0 var(--bento-image-gap) var(--bento-image-gap)
}

.bento_bentoImageContainer__ZENzS img {
    border-radius: 0
}

.bento_bentoImagesWrapper__lCcld {
    display: block;
    width: 100%;
    position: relative
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE {
    display: flex;
    max-height: 400px;
    z-index: 2
}

@container (width <=960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE {
        max-height: 424px
    }
}

@container (width <=768px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE {
        max-height: 309px
    }
}

@container (width >=960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE {
        flex-direction: row;
        max-height: 400px;
        grid-column: 2;
        align-self: stretch;
        justify-self: stretch
    }
}

.bento_bentoImage__Kc05Q {
    width: 100%;
    object-fit: contain;
    height: auto;
    max-height: 100%;
    z-index: 2
}

@container (width <=960px) {
    .bento_bentoImage__Kc05Q {
        max-height: 400px;
        object-fit: cover;
        object-position: top left
    }
}

@container (width <=768px) {
    .bento_bentoImage__Kc05Q {
        max-height: 285px
    }
}

@container (width > 960px) {
    .bento_bentoImage__Kc05Q.bento_wide__qBfRE {
        margin-top: var(--bento-box-wide-top-margin);
        position: relative
    }
}

.bento_red__IlOGg {
    background-color: var(--bento-red)
}

.bento_blue__8DZPl {
    background-color: var(--bento-blue)
}

.bento_yellow__eoI80 {
    background-color: var(--bento-yellow)
}

.bento_teal__jmDp7 {
    background-color: var(--bento-teal)
}

@container (width >=960px) {
    .bento_bentoBoxItem__2dIxx.bento_wide__qBfRE {
        grid-column: span 2;
        min-height: 280px;
        display: grid;
        grid-template-columns: 1fr 2fr
    }
}

@container (width < 960px) {
    .bento_bentoBoxItem__2dIxx.bento_wide__qBfRE {
        justify-content: flex-start
    }
}

.bento_bentoBoxItem__2dIxx.bento_standard__bzLTb {
    grid-column: span 1
}

@container (width >=960px) {
    .bento_bentoHeaderWrapper__3UQRr.bento_wide__qBfRE {
        grid-column: 1
    }
    .bento_bentoHeaderWrapper__3UQRr.bento_wide__qBfRE .bento_bentoHeader__NeiRu {
        height: 100%;
        display: flex;
        flex-direction: column
    }
    .bento_bentoHeaderWrapper__3UQRr.bento_wide__qBfRE .bento_bentoTitleWrapper__mbL1Y {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start
    }
    .bento_bentoHeaderWrapper__3UQRr.bento_wide__qBfRE .bento_bentoArrow__H_l0R {
        align-self: auto;
        margin-inline-start: 0
    }
}

.bento_bentoHeaderWrapper__3UQRr.bento_wide__qBfRE .bento_bentoTitle__xNRRt {
    max-width: 90%;
    text-wrap: balance
}

.bento_bentoCardLink__k9V7Y {
    position: absolute;
    inset: 0;
    z-index: 4;
    cursor: pointer;
    font-size: 0;
    color: #0000
}

.bento_bentoCardLink__k9V7Y:focus {
    outline: none
}

.bento_alignLeft__9bJJt {
    border-start-end-radius: var(--bento-border-radius);
    margin-top: 24px;
    margin-inline-end: 24px;
    margin-bottom: -16px;
    border-top: var(--bento-border-width) solid var(--bento-border-color);
    border-inline-end: var(--bento-border-width) solid var(--bento-border-color);
    overflow: hidden;
    box-shadow: var(--bento-shadow-level)
}

@container (width >=960px) {
    .bento_alignLeft__9bJJt {
        border-start-end-radius: var(--bento-border-radius-md)
    }
}

.bento_alignRight__xqpy2 {
    border-start-start-radius: var(--bento-border-radius);
    margin-top: 24px;
    margin-inline-start: 24px;
    margin-bottom: -16px;
    border-top: var(--bento-border-width) solid var(--bento-border-color);
    border-inline-start: var(--bento-border-width) solid var(--bento-border-color);
    overflow: hidden;
    box-shadow: var(--bento-shadow-level)
}

@container (width >=960px) {
    .bento_alignRight__xqpy2 {
        border-start-start-radius: var(--bento-border-radius-md)
    }
}

.bento_alignCenter__Mz_ca {
    border-top-left-radius: var(--bento-border-radius);
    border-top-right-radius: var(--bento-border-radius);
    margin-top: 24px;
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    border-top: var(--bento-border-width) solid var(--bento-border-color);
    border-left: var(--bento-border-width) solid var(--bento-border-color);
    border-right: var(--bento-border-width) solid var(--bento-border-color);
    overflow: hidden;
    box-shadow: var(--bento-shadow-level)
}

@container (width >=960px) {
    .bento_alignCenter__Mz_ca {
        border-top-left-radius: var(--bento-border-radius-md);
        border-top-right-radius: var(--bento-border-radius-md)
    }
}

@container (width < 960px) {
    .bento_withMobileImage__dc3MK {
        max-width: 60%;
        margin: 24px auto 0;
        border-top-left-radius: 4vw;
        border-top-right-radius: 4vw;
        border: solid var(--color-black);
        border-width: 1vw 1vw 0;
        overflow: hidden;
        box-shadow: var(--bento-shadow-level)
    }
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS {
    align-items: start;
    background-color: var(--color-white);
    --bento-card-radius: 12px
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS img {
    transform: scale(1.4);
    transform-origin: top left
}

@container (width < 960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS img {
        transform: none
    }
}

[dir=rtl] .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS img {
    transform-origin: top right
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS:first-child {
    margin-top: 96px;
    z-index: 1
}

@container (width < 960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS:first-child {
        width: 50%;
        margin-inline-end: 0;
        margin-inline-start: 24px
    }
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS:last-child {
    margin-inline-start: 0;
    z-index: 2
}

@container (width >=960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS:last-child {
        border-inline-start: var(--border-width-1) solid var(--color-border-base)
    }
}

@container (width < 960px) {
    .bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImageContainer__ZENzS:last-child {
        width: 50%;
        position: absolute;
        inset-inline-end: 24px;
        top: 24px;
        bottom: 0;
        margin: 0;
        box-shadow: var(--bento-shadow-level)
    }
}

.bento_bentoImagesWrapper__lCcld.bento_wide__qBfRE .bento_bentoImage__Kc05Q {
    max-height: unset;
    object-fit: unset;
    height: auto
}

.bento_bentoBadge__Sphun {
    display: inline-flex;
    align-items: center;
    justify-content: center
}

.bentoHeader_header__vF0Xh {
    --bento-spacing-padding: var(--spacing-20);
    --bento-spacing-text-gap: var(--spacing-4);
    --bento-spacing-arrow-gap: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--bento-spacing-padding);
    padding: var(--bento-spacing-padding)
}

@media(min-width:840px) {
    .bentoHeader_header__vF0Xh {
        --bento-spacing-padding: var(--spacing-24)
    }
}

.bentoHeader_headingLink__bmWJK {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: var(--bento-spacing-text-gap)
}

.bentoHeader_headingLink__bmWJK:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-black), 0 0 0 4px var(--color-white)
}

.bentoHeader_eyebrow__S8VcM {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px
}

.bentoHeader_heading__jIo4G {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--bento-spacing-arrow-gap)
}

@media(min-width:840px) {
    .bentoHeader_heading__jIo4G {
        flex-direction: column;
        align-items: flex-start
    }
}

.bentoHeader_headingLinkIcon__4h9hJ {
    --header-cta-size: 24px;
    --header-cta-font-size: 16px;
    display: inline-flex;
    height: var(--header-cta-size);
    width: var(--header-cta-size);
    flex-shrink: 0;
    border-radius: 100%;
    background: var(--color-black);
    color: var(--color-white);
    font-size: var(--header-cta-font-size);
    align-items: center;
    justify-content: center;
    font: var(--typography-sans-350-semibold-font);
    letter-spacing: var(--typography-sans-350-semibold-letter-spacing)
}

@media(min-width:1080px) {
    .bentoHeader_headingLinkIcon__4h9hJ {
        --header-cta-size: 32px;
        --header-cta-font-size: 19px
    }
}

.bentoHeader_headingLink__bmWJK:hover .bentoHeader_headingLinkIcon__4h9hJ {
    background: var(--color-gray-800)
}