.menu_menu__rkuLN {
    --color-navigation-dropdown: var(--color-white);
    --translate-x: 0;
    --scale: 1;
    position: absolute;
    padding: 4px;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    background: var(--color-navigation-dropdown);
    box-shadow: 0 4px 18px #0000000a, 0 2.025px 7.84688px rgba(0, 0, 0, .027), 0 .8px 2.925px #00000005, 0 .175px 1.04062px rgba(0, 0, 0, .013);
    z-index: 1000;
    width: max-content;
    transition: opacity .15s ease, transform .15s ease;
    transform: translateX(var(--translate-x)) scale(var(--scale));
    overflow: auto
}

.menu_menu__rkuLN[hidden] {
    --scale: 0.97;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    display: block;
    visibility: hidden;
    opacity: 0
}

.menu_menu__rkuLN.menu_placementBottom__6p9cI {
    --translate-x: -50%;
    top: 100%;
    inset-inline-start: 50%;
    transform-origin: top center
}

.menu_menu__rkuLN.menu_placementBottomStart__RBvSm {
    top: 100%;
    inset-inline-start: 0;
    transform-origin: top left
}

.menu_menu__rkuLN.menu_placementBottomEnd__i5mbB {
    top: -1px;
    transform: translateY(-100%);
    inset-inline-start: 0;
    transform-origin: bottom left
}

.analyticsScrollPoint_analyticsScrollPoint__EZ4T_ {
    display: inline
}

.menuItemLink_menuItemLink__Z27j2 {
    --color-navigation-dropdown-hover: var(--color-gray-200);
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px 8px;
    padding-inline-end: 44px;
    min-width: 150px;
    cursor: pointer
}

.menuItemLink_menuItemLink__Z27j2:active,
.menuItemLink_menuItemLink__Z27j2:hover {
    background: var(--color-navigation-dropdown-hover)
}

.menuItemLink_menuItemLink__Z27j2:focus:not(:focus-visible) {
    outline: 0
}

.option_option__trhct {
    display: block;
    padding: 5px 8px;
    border-radius: var(--border-radius-300)
}

.option_label__gToxX {
    color: var(--color-text-strong)
}

.option_description__h9dkR {
    color: var(--color-text-muted)
}

.languagePicker_languagePicker__7tXbz {
    position: relative
}

.languagePicker_languagePickerMenu__o5H7H {
    max-height: 350px
}

.languagePickerButton_button__QWrdE {
    display: flex;
    align-items: center;
    gap: 6px
}

.Spacer_spacer__Hz1_q {
    width: 100%
}

.wordmark_wordmark__gPyj1 {
    display: flex;
    height: 100%;
    width: auto
}

.wordmark_wordmark__gPyj1[hidden] {
    display: none
}

.wordmark_fill__RZFeq {
    color: #000;
    fill: currentColor
}

.footer_footerOuter__kubGm {
    background-color: var(--color-background-base)
}

.footer_footerInner__MQQSo {
    --footer-gutter: 16px;
    color: var(--color-text-normal);
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    margin: 0 auto;
    max-width: calc(1252px + 2*var(--footer-gutter));
    padding: 40px var(--footer-gutter)
}

@media screen and (min-width:400px) {
    .footer_footerInner__MQQSo {
        --footer-gutter: 32px
    }
}

@media(min-width:600px) {
    .footer_footerInner__MQQSo {
        --footer-gutter: 66px;
        padding: 80px var(--footer-gutter)
    }
}

@media screen and (min-width:840px) {
    .footer_footerInner__MQQSo {
        --footer-gutter: 125px
    }
}

@media(min-width:1080px) {
    .footer_footerInner__MQQSo {
        flex-direction: row;
        gap: 24px
    }
}

.footer_footerOuter__kubGm:before {
    content: "";
    display: block;
    border-top: 1px solid var(--color-border-base)
}

.footer_footerOuter__kubGm.footer_hideSeparator__dapn6:before {
    display: none
}

.footer_footerTop__rz2e9 {
    display: flex;
    flex-direction: column;
    gap: 36px
}

@media screen and (min-width:840px) {
    .footer_footerTop__rz2e9 {
        display: grid;
        grid-auto-columns: max-content;
        grid-template-rows: repeat(2, max-content);
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center
    }
}

@media(min-width:1080px) {
    .footer_footerTop__rz2e9 {
        display: flex;
        justify-content: stretch;
        align-items: flex-start;
        width: 25%
    }
}

.footer_footerTopMain__2yt5M {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.footer_footerBottom__sYaND {
    flex: 1 0 auto
}

@media(min-width:1080px) {
    .footer_footerBottom__sYaND {
        width: 75%
    }
}

.footer_footerColumns__T50DJ {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    column-gap: 24px
}

@media(min-width:1080px) {
    .footer_footerColumns__T50DJ {
        grid-template-columns: repeat(4, minmax(10px, 1fr))
    }
}

.footer_addendum__i1N2u {
    color: var(--color-text-muted);
    margin-top: 36px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.footer_copyright__WXbFd {
    direction: ltr
}

.footer_button__vbjiT {
    background: #0000;
    border: 0;
    padding: 0;
    text-align: left;
    height: auto;
    line-height: 1em;
    width: auto
}

.footer_logo__ssDpx {
    display: flex;
    height: 39px
}

.footer_visuallyHidden__TIPHl {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.footerColumn_list__xEsxo {
    margin: 0 0 36px;
    padding: 0;
    list-style: none;
    page-break-inside: avoid;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.footerColumnItem_footerColumnItem__WBiQ9 {
    display: block;
    cursor: pointer;
    color: var(--color-gray-800);
    margin-top: .4rem;
    line-height: 1.35rem;
    text-align: left;
    word-wrap: break-word
}

.footerColumnItem_footerColumnItemAction__4Gr_a {
    color: var(--color-gray-800);
    background: #0000;
    border: 0;
    padding: 0;
    text-align: left
}

.footerColumnItem_footerColumnItemAction__4Gr_a:hover {
    color: var(--color-link-primary-text);
    text-decoration: underline
}

.footerColumnItem_footerColumnItemAction__4Gr_a:active {
    color: var(--color-link-primary-text-hover)
}

.footerColumnItem_badge__Oi5kM {
    display: inline-block;
    margin-left: .4em;
    position: relative;
    bottom: 2px
}

.footerDoNotSell_button__MLFsR {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    width: auto
}

.footerDoNotSell_button__MLFsR:hover {
    color: var(--color-link-primary-text);
    text-decoration: underline
}

.footerSocial_socialList__h7Bi4 {
    list-style: none;
    display: flex;
    margin: -6px;
    padding: 0;
    gap: 2px
}

.footerSocial_socialListItem__wdDDq {
    color: var(--color-text-muted)
}

.footerSocial_socialListItem__wdDDq.footerSocial_twitter__Ihb5e:hover {
    color: var(--color-black)
}

.footerSocial_socialListItem__wdDDq.footerSocial_linkedIn__3_fRQ:hover {
    color: #3071aa
}

.footerSocial_socialListItem__wdDDq.footerSocial_facebook__4ydhX:hover {
    color: #4267b2
}

.footerSocial_socialListItem__wdDDq.footerSocial_instagram__RqMRr:hover {
    color: var(--color-black)
}

.footerSocial_socialListItem__wdDDq.footerSocial_youtube__fuRqz:hover {
    color: red
}

@layer front-ui-components {
    .banner_banner__ESiW6 {
        display: grid;
        grid-auto-rows: minmax(1lh, max-content);
        align-items: center;
        min-block-size: var(--spacing-48);
        padding-block: var(--spacing-12);
        padding-inline: var(--spacing-16);
        padding-inline-end: var(--spacing-24);
        position: relative;
        z-index: var(--z-index-banner)
    }
    @media(min-width:1080px) {
        .banner_banner__ESiW6 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            gap: var(--spacing-12);
            text-align: center;
            padding-inline-end: var(--spacing-48)
        }
    }
    .banner_bannerLeading__mWjSu {
        display: inline-flex
    }
    @media(min-width:1080px) {
        .banner_bannerLeading__mWjSu {
            padding-block-start: var(--spacing-4)
        }
    }
    .banner_bannerLink__j5A7s {
        align-items: start
    }
    .banner_bannerDismiss__9K8Q8 {
        position: absolute;
        inset-block-start: var(--spacing-8);
        inset-inline-end: var(--spacing-8);
        padding: var(--spacing-4)
    }
}

@layer front-ui-atoms {
    .badge_badge__4ppzB {
        font: var(--typography-sans-50-semibold-font);
        letter-spacing: var(--typography-sans-50-semibold-letter-spacing);
        display: inline-block;
        border-radius: var(--border-radius-round);
        padding-block: var(--spacing-4);
        padding-inline: var(--spacing-8);
        white-space: wrap;
        text-box-trim: trim-both;
        text-box-edge: cap alphabetic
    }
    @supports not (text-box-trim:trim-both) {
        .badge_badge__4ppzB {
            padding-block: 2px
        }
    }
    :where(.surfaceBase) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-accent-strong);
        --color-badge-bold-text: var(--color-white);
        --color-badge-light-text: var(--color-accent-strong);
        --color-badge-mono-background: var(--color-background-base);
        --color-badge-muted-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceBase) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-accent-strong);
            --color-badge-bold-text: var(--color-white);
            --color-badge-light-text: var(--color-accent-strong);
            --color-badge-mono-background: var(--color-background-base);
            --color-badge-muted-background: var(--color-background-base)
        }
    }
    :where(.surfaceNeutral) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-accent-strong);
        --color-badge-bold-text: var(--color-white);
        --color-badge-light-text: var(--color-accent-strong);
        --color-badge-mono-background: var(--color-background-base);
        --color-badge-muted-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-accent-strong);
            --color-badge-bold-text: var(--color-white);
            --color-badge-light-text: var(--color-accent-strong);
            --color-badge-mono-background: var(--color-background-base);
            --color-badge-muted-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccentMuted) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-accent-strong);
        --color-badge-bold-text: var(--color-white);
        --color-badge-light-text: var(--color-accent-strong);
        --color-badge-mono-background: var(--color-background-base);
        --color-badge-muted-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceAccentMuted) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-accent-strong);
            --color-badge-bold-text: var(--color-white);
            --color-badge-light-text: var(--color-accent-strong);
            --color-badge-mono-background: var(--color-background-base);
            --color-badge-muted-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccentSoft) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-accent-strong);
        --color-badge-bold-text: var(--color-white);
        --color-badge-light-text: var(--color-accent-strong);
        --color-badge-mono-background: var(--color-background-base);
        --color-badge-muted-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceAccentSoft) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-accent-strong);
            --color-badge-bold-text: var(--color-white);
            --color-badge-light-text: var(--color-accent-strong);
            --color-badge-mono-background: var(--color-background-base);
            --color-badge-muted-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccent) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-accent-strong);
        --color-badge-bold-text: var(--color-white);
        --color-badge-light-text: var(--color-accent-strong);
        --color-badge-mono-background: var(--color-background-base);
        --color-badge-muted-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceAccent) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-accent-strong);
            --color-badge-bold-text: var(--color-white);
            --color-badge-light-text: var(--color-accent-strong);
            --color-badge-mono-background: var(--color-background-base);
            --color-badge-muted-background: var(--color-background-base)
        }
    }
    :where(.surfaceNeutral) .badge_badge__4ppzB {
        --color-badge-light-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .badge_badge__4ppzB {
            --color-badge-light-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccentMuted) .badge_badge__4ppzB {
        --color-badge-light-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceAccentMuted) {
        .badge_badge__4ppzB {
            --color-badge-light-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccentSoft) .badge_badge__4ppzB {
        --color-badge-light-background: var(--color-background-base)
    }
    @container surface style(--surface-type: surfaceAccentSoft) {
        .badge_badge__4ppzB {
            --color-badge-light-background: var(--color-background-base)
        }
    }
    :where(.surfaceAccent) .badge_badge__4ppzB {
        --color-badge-bold-background: var(--color-background-base);
        --color-badge-bold-text: var(--color-accent-strong);
        --color-badge-light-background: var(--color-accent-soft)
    }
    @container surface style(--surface-type: surfaceAccent) {
        .badge_badge__4ppzB {
            --color-badge-bold-background: var(--color-background-base);
            --color-badge-bold-text: var(--color-accent-strong);
            --color-badge-light-background: var(--color-accent-soft)
        }
    }
    :where(.surfaceBase) .badge_badge__4ppzB {
        --color-badge-light-background: var(--color-accent-muted);
        --color-badge-mono-background: var(--color-background-surface-neutral);
        --color-badge-muted-background: var(--color-background-surface-neutral)
    }
    @container surface style(--surface-type: surfaceBase) {
        .badge_badge__4ppzB {
            --color-badge-light-background: var(--color-accent-muted);
            --color-badge-mono-background: var(--color-background-surface-neutral);
            --color-badge-muted-background: var(--color-background-surface-neutral)
        }
    }
    .badge_sizeMedium__YRxCh {
        font: var(--typography-sans-200-semibold-font);
        letter-spacing: var(--typography-sans-200-semibold-letter-spacing);
        padding-block: var(--spacing-8);
        padding-inline: var(--spacing-12)
    }
    @supports not (text-box-trim:trim-both) {
        .badge_sizeMedium__YRxCh {
            padding-block: var(--spacing-4)
        }
    }
    .badge_badgeMono__QwJp5 {
        background: var(--color-badge-mono-background);
        color: var(--color-badge-mono-text)
    }
    .badge_badgeMuted___OW4v {
        background: var(--color-badge-muted-background);
        color: var(--color-badge-muted-text)
    }
    .badge_badgeBold__UqlIE {
        background: var(--color-badge-bold-background);
        color: var(--color-badge-bold-text)
    }
    .badge_badgeLight__77Dpi {
        background: var(--color-badge-light-background);
        color: var(--color-badge-light-text)
    }
}

a.button_primary__k0d3I,
a.button_primary__k0d3I:active,
a.button_primary__k0d3I:focus,
a.button_primary__k0d3I:hover,
button.button_primary__k0d3I,
button.button_primary__k0d3I:active,
button.button_primary__k0d3I:focus,
button.button_primary__k0d3I:hover {
    text-decoration: none;
    color: var(--color-button-primary-text)
}

a.button_secondary__0_CV3,
button.button_secondary__0_CV3 {
    color: var(--color-button-secondary-text);
    text-decoration: none
}

a.button_secondary__0_CV3:active,
a.button_secondary__0_CV3:focus,
a.button_secondary__0_CV3:hover,
button.button_secondary__0_CV3:active,
button.button_secondary__0_CV3:focus,
button.button_secondary__0_CV3:hover {
    text-decoration: none;
    color: var(--color-button-secondary-text-interactive, var(--color-button-secondary-text))
}

a.button_tertiary__cWWnA,
a.button_tertiary__cWWnA:active,
a.button_tertiary__cWWnA:focus,
a.button_tertiary__cWWnA:hover,
button.button_tertiary__cWWnA,
button.button_tertiary__cWWnA:active,
button.button_tertiary__cWWnA:focus,
button.button_tertiary__cWWnA:hover {
    text-decoration: none;
    color: var(--color-button-tertiary-text)
}

a.button_ghost__npAbk,
a.button_ghost__npAbk:active,
a.button_ghost__npAbk:focus,
a.button_ghost__npAbk:hover,
button.button_ghost__npAbk,
button.button_ghost__npAbk:active,
button.button_ghost__npAbk:focus,
button.button_ghost__npAbk:hover {
    text-decoration: none;
    color: var(--color-button-ghost-text)
}

@layer front-ui-atoms {
    .button_button__bge_I {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-12);
        box-sizing: border-box;
        border: var(--border-width-1) solid #0000;
        text-decoration: none;
        transition-property: background-color, color;
        transition-duration: var(--motion-global-fade-out-duration);
        transition-timing-function: var(--motion-global-fade-out-timing-function)
    }
    .button_button__bge_I:is(a, button) {
        cursor: pointer
    }
    .button_button__bge_I:focus-visible:not(:disabled),
    .button_button__bge_I:hover:not(:disabled) {
        transition-property: background-color, color;
        transition-duration: var(--motion-global-fade-in-duration);
        transition-timing-function: var(--motion-global-fade-in-timing-function)
    }
    .button_button__bge_I:active,
    .button_button__bge_I:focus,
    .button_button__bge_I:hover {
        text-decoration: none
    }
    .button_button__bge_I:disabled {
        cursor: not-allowed;
        opacity: .5
    }
    :where(.surfaceNeutral) .button_button__bge_I {
        --color-button-secondary-background: var(--color-white);
        --color-button-secondary-text: var(--color-accent-strong);
        --color-button-secondary-border: var(--color-transparent)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .button_button__bge_I {
            --color-button-secondary-background: var(--color-white);
            --color-button-secondary-text: var(--color-accent-strong);
            --color-button-secondary-border: var(--color-transparent)
        }
    }
    :where(.surfaceAccentMuted) .button_button__bge_I {
        --color-button-secondary-background: var(--color-white);
        --color-button-secondary-text: var(--color-accent-strong);
        --color-button-secondary-border: var(--color-transparent)
    }
    @container surface style(--surface-type: surfaceAccentMuted) {
        .button_button__bge_I {
            --color-button-secondary-background: var(--color-white);
            --color-button-secondary-text: var(--color-accent-strong);
            --color-button-secondary-border: var(--color-transparent)
        }
    }
    :where(.surfaceAccentSoft) .button_button__bge_I {
        --color-button-secondary-background: var(--color-white);
        --color-button-secondary-text: var(--color-accent-strong);
        --color-button-secondary-border: var(--color-transparent)
    }
    @container surface style(--surface-type: surfaceAccentSoft) {
        .button_button__bge_I {
            --color-button-secondary-background: var(--color-white);
            --color-button-secondary-text: var(--color-accent-strong);
            --color-button-secondary-border: var(--color-transparent)
        }
    }
    :where(.surfaceNeutral) .button_button__bge_I {
        --color-button-secondary-text-interactive: var(--color-black);
        --color-button-secondary-background-hover: var( --color-background-surface-neutral-hover);
        --color-button-secondary-background-focus: var( --color-background-surface-neutral-focus);
        --color-button-secondary-background-active: var( --color-background-surface-neutral-active);
        --color-button-tertiary-background: var( --color-background-surface-neutral);
        --color-button-tertiary-background-hover: var( --color-background-surface-neutral-hover);
        --color-button-tertiary-background-focus: var( --color-background-surface-neutral-focus);
        --color-button-tertiary-background-active: var( --color-background-surface-neutral-active);
        --color-button-ghost-background-hover: var( --color-background-surface-neutral-hover);
        --color-button-ghost-background-focus: var( --color-background-surface-neutral-focus);
        --color-button-ghost-background-active: var( --color-background-surface-neutral-active)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .button_button__bge_I {
            --color-button-secondary-text-interactive: var(--color-black);
            --color-button-secondary-background-hover: var( --color-background-surface-neutral-hover);
            --color-button-secondary-background-focus: var( --color-background-surface-neutral-focus);
            --color-button-secondary-background-active: var( --color-background-surface-neutral-active);
            --color-button-tertiary-background: var( --color-background-surface-neutral);
            --color-button-tertiary-background-hover: var( --color-background-surface-neutral-hover);
            --color-button-tertiary-background-focus: var( --color-background-surface-neutral-focus);
            --color-button-tertiary-background-active: var( --color-background-surface-neutral-active);
            --color-button-ghost-background-hover: var( --color-background-surface-neutral-hover);
            --color-button-ghost-background-focus: var( --color-background-surface-neutral-focus);
            --color-button-ghost-background-active: var( --color-background-surface-neutral-active)
        }
    }
    :where(.surfaceAccentMuted) .button_button__bge_I {
        --color-button-secondary-background-hover: var( --color-background-surface-accent-muted-hover);
        --color-button-secondary-background-focus: var( --color-background-surface-accent-muted-focus);
        --color-button-secondary-background-active: var( --color-background-surface-accent-muted-active);
        --color-button-tertiary-background: var( --color-background-surface-accent-muted);
        --color-button-tertiary-background-hover: var( --color-background-surface-accent-muted-hover);
        --color-button-tertiary-background-focus: var( --color-background-surface-accent-muted-focus);
        --color-button-tertiary-background-active: var( --color-background-surface-accent-muted-active);
        --color-button-ghost-background-hover: var( --color-background-surface-accent-muted-hover);
        --color-button-ghost-background-focus: var( --color-background-surface-accent-muted-focus);
        --color-button-ghost-background-active: var( --color-background-surface-accent-muted-active)
    }
    @container surface style(--surface-type: surfaceAccentMuted) {
        .button_button__bge_I {
            --color-button-secondary-background-hover: var( --color-background-surface-accent-muted-hover);
            --color-button-secondary-background-focus: var( --color-background-surface-accent-muted-focus);
            --color-button-secondary-background-active: var( --color-background-surface-accent-muted-active);
            --color-button-tertiary-background: var( --color-background-surface-accent-muted);
            --color-button-tertiary-background-hover: var( --color-background-surface-accent-muted-hover);
            --color-button-tertiary-background-focus: var( --color-background-surface-accent-muted-focus);
            --color-button-tertiary-background-active: var( --color-background-surface-accent-muted-active);
            --color-button-ghost-background-hover: var( --color-background-surface-accent-muted-hover);
            --color-button-ghost-background-focus: var( --color-background-surface-accent-muted-focus);
            --color-button-ghost-background-active: var( --color-background-surface-accent-muted-active)
        }
    }
    :where(.surfaceAccentSoft) .button_button__bge_I {
        --color-button-secondary-background-hover: var( --color-background-surface-accent-soft-hover);
        --color-button-secondary-background-focus: var( --color-background-surface-accent-soft-focus);
        --color-button-secondary-background-active: var( --color-background-surface-accent-soft-active);
        --color-button-tertiary-background: var( --color-background-surface-accent-soft);
        --color-button-tertiary-background-hover: var( --color-background-surface-accent-soft-hover);
        --color-button-tertiary-background-focus: var( --color-background-surface-accent-soft-focus);
        --color-button-tertiary-background-active: var( --color-background-surface-accent-soft-active);
        --color-button-ghost-background-hover: var( --color-background-surface-accent-soft-hover);
        --color-button-ghost-background-focus: var( --color-background-surface-accent-soft-focus);
        --color-button-ghost-background-active: var( --color-background-surface-accent-soft-active)
    }
    @container surface style(--surface-type: surfaceAccentSoft) {
        .button_button__bge_I {
            --color-button-secondary-background-hover: var( --color-background-surface-accent-soft-hover);
            --color-button-secondary-background-focus: var( --color-background-surface-accent-soft-focus);
            --color-button-secondary-background-active: var( --color-background-surface-accent-soft-active);
            --color-button-tertiary-background: var( --color-background-surface-accent-soft);
            --color-button-tertiary-background-hover: var( --color-background-surface-accent-soft-hover);
            --color-button-tertiary-background-focus: var( --color-background-surface-accent-soft-focus);
            --color-button-tertiary-background-active: var( --color-background-surface-accent-soft-active);
            --color-button-ghost-background-hover: var( --color-background-surface-accent-soft-hover);
            --color-button-ghost-background-focus: var( --color-background-surface-accent-soft-focus);
            --color-button-ghost-background-active: var( --color-background-surface-accent-soft-active)
        }
    }
    :where(.surfaceAccent) .button_button__bge_I {
        --color-button-primary-background: var(--color-black);
        --color-button-primary-background-hover: var(--color-alpha-black-700);
        --color-button-primary-background-focus: var(--color-alpha-black-700);
        --color-button-primary-background-active: var(--color-alpha-black-800);
        --color-button-primary-text: var(--color-white);
        --color-button-primary-border: var(--color-transparent);
        --color-button-secondary-background: var(--color-accent-soft);
        --color-button-secondary-background-hover: var(--color-alpha-white-700);
        --color-button-secondary-background-focus: var(--color-alpha-white-700);
        --color-button-secondary-background-active: var(--color-alpha-white-600);
        --color-button-secondary-text: var(--color-black);
        --color-button-secondary-border: var(--color-transparent);
        --color-button-tertiary-background: var( --color-background-surface-accent);
        --color-button-tertiary-background-hover: var( --color-background-surface-accent-hover);
        --color-button-tertiary-background-focus: var( --color-background-surface-accent-focus);
        --color-button-tertiary-background-active: var( --color-background-surface-accent-active);
        --color-button-tertiary-text: var(--color-black);
        --color-button-ghost-text: var(--color-black);
        --color-button-ghost-background-hover: var( --color-background-surface-accent-hover);
        --color-button-ghost-background-focus: var( --color-background-surface-accent-focus);
        --color-button-ghost-background-active: var( --color-background-surface-accent-active)
    }
    @container surface style(--surface-type: surfaceAccent) {
        .button_button__bge_I {
            --color-button-primary-background: var(--color-black);
            --color-button-primary-background-hover: var(--color-alpha-black-700);
            --color-button-primary-background-focus: var(--color-alpha-black-700);
            --color-button-primary-background-active: var(--color-alpha-black-800);
            --color-button-primary-text: var(--color-white);
            --color-button-primary-border: var(--color-transparent);
            --color-button-secondary-background: var(--color-accent-soft);
            --color-button-secondary-background-hover: var(--color-alpha-white-700);
            --color-button-secondary-background-focus: var(--color-alpha-white-700);
            --color-button-secondary-background-active: var(--color-alpha-white-600);
            --color-button-secondary-text: var(--color-black);
            --color-button-secondary-border: var(--color-transparent);
            --color-button-tertiary-background: var( --color-background-surface-accent);
            --color-button-tertiary-background-hover: var( --color-background-surface-accent-hover);
            --color-button-tertiary-background-focus: var( --color-background-surface-accent-focus);
            --color-button-tertiary-background-active: var( --color-background-surface-accent-active);
            --color-button-tertiary-text: var(--color-black);
            --color-button-ghost-text: var(--color-black);
            --color-button-ghost-background-hover: var( --color-background-surface-accent-hover);
            --color-button-ghost-background-focus: var( --color-background-surface-accent-focus);
            --color-button-ghost-background-active: var( --color-background-surface-accent-active)
        }
    }
    .button_small__undru {
        padding-inline: calc(var(--spacing-12) - var(--border-width-1));
        padding-block: calc(var(--spacing-4) - var(--border-width-1));
        border-radius: var(--border-radius-500)
    }
    .button_medium__VXS2i {
        padding-inline: calc(var(--spacing-16) - var(--border-width-1));
        padding-block: calc(var(--spacing-8) - var(--border-width-1)*2);
        border-radius: var(--border-radius-500)
    }
    .button_large__JX0T2 {
        padding-inline: calc(var(--spacing-20) - var(--border-width-1));
        padding-block: calc(var(--spacing-12) - var(--border-width-1)*2);
        border-radius: var(--border-radius-600)
    }
    .button_primary__k0d3I {
        background-color: var(--color-button-primary-background);
        border-color: var(--color-button-primary-border)
    }
    .button_primary__k0d3I:hover:not(:disabled) {
        background-color: var(--color-button-primary-background-hover)
    }
    .button_primary__k0d3I:focus-visible:not(:disabled) {
        background-color: var(--color-button-primary-background-focus)
    }
    .button_primary__k0d3I:active:not(:disabled) {
        background-color: var(--color-button-primary-background-active)
    }
    .button_secondary__0_CV3 {
        background-color: var(--color-button-secondary-background);
        border-color: var(--color-button-secondary-border)
    }
    .button_secondary__0_CV3:hover:not(:disabled) {
        background-color: var(--color-button-secondary-background-hover)
    }
    .button_secondary__0_CV3:focus-visible:not(:disabled) {
        background-color: var(--color-button-secondary-background-focus)
    }
    .button_secondary__0_CV3:active:not(:disabled) {
        background-color: var(--color-button-secondary-background-active)
    }
    .button_tertiary__cWWnA {
        background-color: var(--color-button-tertiary-background);
        border-color: var(--color-button-tertiary-border)
    }
    .button_tertiary__cWWnA:hover:not(:disabled) {
        background-color: var(--color-button-tertiary-background-hover)
    }
    .button_tertiary__cWWnA:focus-visible:not(:disabled) {
        background-color: var(--color-button-tertiary-background-focus)
    }
    .button_tertiary__cWWnA:active:not(:disabled) {
        background-color: var(--color-button-tertiary-background-active)
    }
    .button_ghost__npAbk {
        background-color: var(--color-button-ghost-background);
        border-color: var(--color-button-ghost-border)
    }
    .button_ghost__npAbk:hover:not(:disabled) {
        background-color: var(--color-button-ghost-background-hover)
    }
    .button_ghost__npAbk:focus-visible:not(:disabled) {
        background-color: var(--color-button-ghost-background-focus)
    }
    .button_ghost__npAbk:active:not(:disabled) {
        background-color: var(--color-button-ghost-background-active)
    }
}