.button_stories_visuallyHidden__PK09V {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.comparisonTable_columnName__ZbLrs {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4px
}

.comparisonTable_logo__AliGw {
    min-width: 16px
}

.comparisonTable_wrapper__nhH5p {
    background-color: var(--color-background-surface-neutral);
    border-radius: var(--border-radius-400);
    position: relative
}

.comparisonTable_scrollContainer__LP9r0 {
    padding: 20px 30px;
    overflow: auto
}

.comparisonTable_image__I_O0j {
    max-width: 80px;
    right: 50px;
    top: -56px;
    position: absolute
}

.comparisonTable_image__I_O0j[hidden] {
    display: none
}

.comparisonTable_featureNameRow__iXtS8 {
    width: 100%
}

.comparisonTable_customHeaderTitle__LlJRF {
    white-space: nowrap
}

.comparisonTable_table__RDN6a {
    width: 100%
}

.comparisonTable_table__RDN6a td,
.comparisonTable_table__RDN6a th {
    padding: 10px 0;
    text-align: start;
    vertical-align: top
}

.comparisonTable_table__RDN6a tbody td,
.comparisonTable_table__RDN6a tbody th,
.comparisonTable_table__RDN6a thead td,
.comparisonTable_table__RDN6a thead th {
    border-bottom: 1px solid var(--border-color-regular)
}

.comparisonTable_table__RDN6a td:not(:first-child),
.comparisonTable_table__RDN6a th:not(:first-child) {
    text-align: end;
    padding-inline-start: 25px
}

.comparisonTable_table__RDN6a tbody tr:last-child td,
.comparisonTable_table__RDN6a tbody tr:last-child th {
    border-bottom: 0
}

.comparisonTable_featureBadge__ypAMM {
    margin-inline-start: .5em;
    position: relative
}

@media(min-width:375px) {
    .comparisonTable_wrapper__nhH5p {
        margin-top: 0
    }
    .comparisonTable_image__I_O0j {
        max-width: 90px;
        inset-inline-end: 50px;
        top: -64px
    }
}

.comparisonTable_responsiveImage__sgRiQ {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover
}

.logo_logo__xQVjz {
    width: 100%;
    height: auto;
    max-width: round(calc(var(--logo-width) * calc(sqrt(var(--logo-surface-area)/calc(var(--logo-width) * var(--logo-height)))) * 1px), 1px);
    display: block;
    flex-grow: 0
}

.logo_logo__xQVjz.logo_heightConstrained__wFlX5 {
    max-height: var(--logo-max-height);
    object-fit: contain
}

.logo_logo__xQVjz.logo_grayscale__gR1oG {
    filter: grayscale(100%)
}

.TemplateGalleryCategoryHeader_categoryHeader__5_cy3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 46px 0 42px;
    width: 100%;
    max-width: 700px
}

.TemplateGalleryCategoryHeader_categoryIcon__Pj4uW {
    width: 56px;
    aspect-ratio: 1/1
}

.templateGalleryCollectionBackLink_root__e_R1K {
    flex-shrink: 0
}

.templateGalleryCollectionBackLink_contents__gjuMe {
    font: var(--typography-sans-150-bold-font);
    letter-spacing: var(--typography-sans-150-bold-letter-spacing);
    display: flex;
    align-items: center;
    gap: 4px
}

.imagePile_root__JVYBH {
    --image-pile-rise: 43;
    --image-pile-run: 180;
    position: relative;
    display: inline-block;
    width: calc(var(--image-pile-max-image-width) + var(--image-pile-run)*1px);
    height: calc(var(--image-pile-max-image-height) + var(--image-pile-rise)*1px)
}

.imagePile_item__70wru {
    display: inline-block
}

.imagePile_item__70wru:first-child {
    position: absolute;
    left: 0;
    bottom: 0
}

.imagePile_item__70wru:last-child {
    position: absolute;
    right: 0;
    top: 0
}

.templateGalleryCollectionBlock_root__wpZWA {
    --collection-block-vertical-padding: 24px;
    --collection-block-horizontal-padding: 32px;
    position: relative;
    background-color: var(--collection-block-background-color);
    border: 2px solid var(--color-background-surface-neutral);
    color: var(--collection-block-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    overflow: hidden
}

.templateGalleryCollectionBlock_root__wpZWA.templateGalleryCollectionBlock_large__Bh6Sk {
    box-shadow: var(--shadow-level-100);
    border-radius: var(--border-radius-700)
}

.templateGalleryCollectionBlock_root__wpZWA.templateGalleryCollectionBlock_small__G1eO6 {
    background-color: var(--color-background-surface-neutral);
    border-radius: var(--border-radius-500)
}

.templateGalleryCollectionBlock_blockLink__nVhQF {
    position: absolute;
    inset: 0
}

.templateGalleryCollectionBlock_textContent__JohA6 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: var(--collection-block-vertical-padding) var(--collection-block-horizontal-padding);
    padding-bottom: 0
}

@media(min-width:1080px) {
    .templateGalleryCollectionBlock_textContent__JohA6 {
        flex: 1 0 auto;
        padding-bottom: var(--collection-block-vertical-padding)
    }
}

.templateGalleryCollectionBlock_textContent__JohA6.templateGalleryCollectionBlock_small__G1eO6 {
    padding-top: 20px;
    padding-bottom: 20px
}

.templateGalleryCollectionBlock_heading__n18zZ {
    margin-bottom: 6px;
    color: var(--collection-title-color)
}

.templateGalleryCollectionBlock_attribution__mke0w {
    font: var(--typography-sans-100-medium-font);
    letter-spacing: var(--typography-sans-100-medium-letter-spacing);
    display: flex;
    align-items: center;
    gap: 8px
}

.templateGalleryCollectionBlock_screenshots__c61te {
    display: flex;
    padding: 0 var(--collection-block-horizontal-padding);
    overflow: hidden
}

.templateGalleryCollectionBlock_large__Bh6Sk .templateGalleryCollectionBlock_screenshots__c61te {
    height: 226px
}

@media(min-width:1280px) {
    .templateGalleryCollectionBlock_large__Bh6Sk .templateGalleryCollectionBlock_screenshots__c61te {
        padding-top: var(--collection-block-vertical-padding)
    }
}

.templateGalleryCollectionBlock_small__G1eO6 .templateGalleryCollectionBlock_screenshots__c61te {
    max-height: 144px
}

@media(min-width:1080px) {
    .templateGalleryCollectionBlock_mobileScreenshots__a8Psp {
        display: none
    }
}

.templateGalleryCollectionBlock_desktopScreenshots___lMKE {
    display: none
}

@media(min-width:1080px) {
    .templateGalleryCollectionBlock_desktopScreenshots___lMKE {
        display: block
    }
}

.templateGalleryCollectionBlock_large__Bh6Sk .templateGalleryCollectionBlock_screenshot__BuVAP {
    overflow: hidden;
    border-radius: var(--border-radius-500);
    box-shadow: var(--shadow-level-300)
}

.templateGalleryCollectionBlock_small__G1eO6 .templateGalleryCollectionBlock_screenshot__BuVAP {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: var(--shadow-level-200);
    border-radius: var(--border-radius-400) var(--border-radius-400) 0 0
}

.templateGalleryCollectionBlock_agentIconContainer__bJJec {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 50px 24px 24px;
    width: 100%
}

.templateGalleryCollectionRelatedContent_heading__4F32Y {
    margin-bottom: 24px
}

.TemplateGalleryCreatorBlock_wrapper__d7iZ2 {
    padding: var(--spacing-block-s) var(--spacing-block-m);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    gap: 30px;
    border-radius: 12px;
    overflow: hidden;
    gap: 4px;
    position: relative;
    width: 100%
}

@media(min-width:600px) {
    .TemplateGalleryCreatorBlock_wrapper__d7iZ2 {
        padding: var(--spacing-block-m) var(--spacing-block-l)
    }
}

.TemplateGalleryCreatorBlock_large__rqxNI:not(.TemplateGalleryCreatorBlock_vertical__gmV0J, .TemplateGalleryCreatorBlock_assetCroppedBottom__q_0TU) {
    flex-direction: row
}

.TemplateGalleryCreatorBlock_large__rqxNI:not(.TemplateGalleryCreatorBlock_vertical__gmV0J, .TemplateGalleryCreatorBlock_assetCroppedBottom__q_0TU) .TemplateGalleryCreatorBlock_header__lrrOB {
    flex-basis: calc(36% - 24px);
    flex-shrink: 0
}

.TemplateGalleryCreatorBlock_bottomCenter__XMBRB,
.TemplateGalleryCreatorBlock_leftCorner__vIuJH,
.TemplateGalleryCreatorBlock_rightCorner__WZ0xl {
    padding-bottom: 0
}

.TemplateGalleryCreatorBlock_avatar__GRTqL {
    margin-bottom: 36px
}

.TemplateGalleryCreatorBlock_biography__OPSCL {
    font: var(--typography-sans-100-regular-font);
    letter-spacing: var(--typography-sans-100-regular-letter-spacing);
    color: var(--color-black);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    overflow: hidden;
    align-self: flex-start
}

.TemplateGalleryCreatorBlock_numberOfTemplates__ST9Iv {
    font: var(--typography-sans-50-medium-font);
    letter-spacing: var(--typography-sans-50-medium-letter-spacing);
    color: var(--color-gray-600);
    opacity: .5;
    margin: 0
}

.TemplateGalleryCreatorBlock_link__o3Zii {
    text-decoration: none
}

.TemplateGalleryCreatorFilters_container__DRxp2 {
    display: flex;
    flex-flow: row wrap;
    gap: 12px
}

.TemplateGalleryCreatorProfile_profile___Yr08 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 16px;
    position: relative;
    min-height: 117px;
    max-width: 600px
}

.TemplateGalleryCreatorProfile_profileCoverImageAndAvatar__AmzOB {
    margin-top: 48px
}

.TemplateGalleryCreatorProfile_bio__VybZj {
    padding: 0;
    margin: 0;
    gap: 14px;
    position: relative
}

.TemplateGalleryCreatorProfile_bio__VybZj,
.TemplateGalleryCreatorProfile_bio__VybZj figcaption {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start
}

.TemplateGalleryCreatorProfile_bio__VybZj figcaption {
    gap: 4px
}

.TemplateGalleryCreatorProfile_certified__6WMBg {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap
}

.TemplateGalleryCreatorProfile_badges__p6sJE {
    display: flex;
    gap: 12px
}

.TemplateGalleryCreatorProfile_badge__FgKkB {
    display: flex;
    gap: 4px;
    align-items: center;
    border-radius: 50%
}

.TemplateGalleryCreatorProfile_creatorButtons__MMguz {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 8px
}

.TemplateGalleryCreatorProfile_description__d_Gnz {
    margin-top: 24px
}

.AgentRow_row__ED_rp {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 8px;
    border-radius: 12px;
    cursor: pointer
}

.AgentRow_row__ED_rp:hover {
    background: var(--color-gray-100)
}

.AgentRow_iconContainer__8WoxV {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 12px;
    background: var(--color-gray-200);
    flex-shrink: 0
}

.AgentRow_row__ED_rp:hover .AgentRow_iconContainer__8WoxV {
    background: var(--color-gray-300)
}

.AgentRow_content__qVnbg {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
    min-width: 0;
    padding: 8px 12px;
    justify-content: center
}

.AgentRow_description__AiAUr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0
}

.AgentRow_stats__4lVz0 {
    display: flex;
    align-items: center;
    gap: 8px
}

.AgentRow_priceBadge___xdBq {
    flex-shrink: 0;
    padding: 2px 6px;
    border-radius: 6px;
    background: var(--color-gray-200)
}

.AgentRow_link__JGcd8 {
    color: inherit;
    text-decoration: none
}

.AgentRowList_list__9iBwD {
    display: flex;
    flex-direction: column
}

.AgentRowList_divider__HSwJb {
    border: none;
    height: 1px;
    background: var(--color-gray-200);
    margin: 12px 8px
}

.TemplateGalleryCreatorProfileContent_container__hqI0y {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 108px
}

.TemplateGalleryCreatorProfileContent_tabsList__Tro5U {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin: 0 0 40px;
    list-style-type: none;
    width: 100%;
    box-shadow: inset 0 -1px 0 var(--color-border-base)
}

.TemplateGalleryCreatorProfileContent_tabsList__Tro5U li button {
    background: none;
    border: none
}

.TemplateGalleryCreatorProfileContent_tab__ktLaY {
    color: var(--color-text-muted)
}

.TemplateGalleryCreatorProfileContent_selectedTab__o_mXx {
    color: var(--color-text-strong);
    border-bottom: 2px solid var(--color-text-strong) !important
}

.TemplateGalleryCreatorProfileContent_section__v_va7 {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.TemplateGalleryCreatorProfileContent_templatesSectionHeader__e5IiV {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-text-muted)
}

.TemplateGalleryCreatorProfileContent_serviceOfferingsContainer__aJbRW {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.TemplateGalleryCreatorProfileContent_serviceOffering__IGy1b {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 40px;
    border: 1px solid var(--color-border-base);
    border-radius: var(--border-radius-700);
    flex-direction: column
}

@media(min-width:840px) {
    .TemplateGalleryCreatorProfileContent_serviceOffering__IGy1b {
        flex-direction: row;
        align-items: flex-start
    }
}

.TemplateGalleryCreatorProfileContent_serviceOfferingDetailsContainer__FMdmN {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.TemplateGalleryCreatorProfileContent_serviceIconContainer__zbFu6 {
    min-width: 80px;
    min-height: 80px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-color: var(--color-gray-200)
}

.TemplateGalleryCreatorProfileContent_clientsContainer__4KXjS {
    overflow: hidden;
    position: relative
}

.TemplateGalleryCreatorProfileContent_clients__KrTCr {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scrollbar-gutter: stable;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    grid-template-columns: repeat(var(--clients-count), 100px);
    padding-bottom: 12px;
    padding-right: 1px
}

.TemplateGalleryCreatorProfileContent_clientImage__YZH9S {
    border-radius: 100%;
    box-shadow: var(--shadow-level-200)
}

.TemplateGallerySubNavigation_wordmark__0jcdq {
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-decoration: none;
    align-items: center;
    padding: 7px 10px;
    border: 1px solid #0000;
    align-self: stretch;
    min-height: 36px
}

.TemplateGallerySubNavigation_brandName__4cPI3 {
    letter-spacing: var(--typography-sans-100-medium-letter-spacing)
}

.TemplateGalleryCategoryEditorial_editorialHeader__56nMw {
    margin-right: auto;
    padding-bottom: 20px
}

.TemplateGalleryCategoryEditorial_arrow__I1xOV {
    z-index: 3;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000000bf;
    border: 2px solid #fff;
    font-size: var(--font-size-150);
    box-shadow: var(--shadow-level-200);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center
}

.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 6px))
}

.TemplateGalleryCategoryEditorial_arrowRight__YwEHU {
    position: absolute;
    top: 50%;
    transform-origin: center;
    transform: translateY(calc(-50% - 6px))
}

.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_small__fRy5v {
    right: -24px
}

.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_small__fRy5v {
    left: -24px
}

.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_medium__V7AO6 {
    left: -36px
}

.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_medium__V7AO6 {
    right: -36px
}

.TemplateGalleryCategoryEditorial_arrowRight__YwEHU.TemplateGalleryCategoryEditorial_large__JigFd {
    right: -48px
}

.TemplateGalleryCategoryEditorial_arrowLeft__EXRwQ.TemplateGalleryCategoryEditorial_large__JigFd {
    left: -48px
}

.TemplateGalleryCategoryEditorial_editorialContainer__kPGQP {
    position: relative
}

.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ {
    display: grid;
    grid-gap: 32px;
    row-gap: 28px;
    grid-template-columns: 1fr;
    margin-bottom: 50px
}

.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_smallGrid__xommo {
    grid-template-columns: repeat(1, 1fr)
}

.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_mediumGrid__hLvpi {
    grid-template-columns: repeat(2, 1fr)
}

.TemplateGalleryCategoryEditorial_editorialGrid__XCpHQ.TemplateGalleryCategoryEditorial_largeGrid__sYt0I {
    grid-template-columns: repeat(3, 1fr)
}

.TemplateGalleryCategoryEditorial_templatesCount__8vvWX {
    position: absolute;
    right: 0;
    top: -42px
}

.numberedPagination_numberedPaginationWrap__gzUlJ {
    display: flex;
    align-items: center;
    justify-content: center
}

.numberedPagination_numberedPaginationWrap__gzUlJ[hidden] {
    display: none
}

.numberedPagination_numberedPagination__otFt6 {
    margin: 0;
    padding: 0;
    display: flex
}

.numberedPagination_numberedPaginationItem__5fYLg {
    list-style: none;
    font-size: var(--font-size-150);
    margin: 0 1px
}

.numberedPagination_numberedPaginationItem__5fYLg .numberedPagination_link__wUXSs {
    min-width: 32px;
    height: 36px;
    border-radius: var(--border-radius-300);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color-medium);
    border: 1px solid #0000
}

.numberedPagination_numberedPaginationItem__5fYLg .numberedPagination_link__wUXSs:hover {
    background: var(--color-background-base-hover)
}

.numberedPagination_numberedPaginationItem__5fYLg .numberedPagination_link__wUXSs:active {
    background: var(--color-background-base-active)
}

.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj .numberedPagination_link__wUXSs {
    color: var(--text-color-dark);
    border-color: var(--color-border-base);
    cursor: default
}

.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj .numberedPagination_link__wUXSs:active,
.numberedPagination_numberedPaginationItem__5fYLg.numberedPagination_active__Qc_Dj .numberedPagination_link__wUXSs:hover {
    background: none
}

.TemplateCollectionFeedBlock_collectionFeedBlock__ETl_v {
    height: 256px
}

.TemplateCollectionFeedBlock_agentIconContainer__V8gFF {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    margin-top: 0;
    width: 100%
}

.TemplateCollectionFeedPage_link__vrd31 {
    font: var(--typography-sans-150-bold-font);
    letter-spacing: var(--typography-sans-150-bold-letter-spacing);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--color-black);
    align-items: center
}

.TemplateCollectionFeedPage_heading__zJll9 {
    margin-top: 72px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px
}

.TemplateCollectionFeedPage_heroText__YrIT4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 560px
}

.TemplateCollectionFeedPage_filters__kzYGk {
    margin-bottom: 16px
}

.TemplateCollectionFeedGrid_paginationWrap__vAm1d {
    margin: 40px 0
}

.ConsultantsFilters_container__nuCVZ {
    display: flex;
    flex-flow: row wrap;
    gap: 8px
}

.ConsultantsFilters_filterIcon__S__j_ {
    width: 16px !important;
    height: 16px !important;
    color: var(--color-alpha-black-600) !important;
    fill: var(--color-alpha-black-600) !important
}

@layer front-ui-components {
    .block_block__NZ57K {
        position: relative;
        flex: 1 1;
        container-type: inline-size;
        --color-card-body-text: var(--color-card-body-block-text)
    }
    .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG):after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background-color: #0000;
        box-shadow: var(--shadow-level-200);
        opacity: 0;
        pointer-events: none;
        will-change: opacity;
        transition-property: opacity;
        transition-timing-function: var(--motion-global-fade-out-timing-function);
        transition-duration: var(--motion-global-fade-out-duration)
    }
    .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG):focus-within:after,
    .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG):hover:after,
    .block_block__NZ57K:has(.block_blockClickableRegion__2hgxG:active):after {
        opacity: 1;
        transition-timing-function: var(--motion-global-fade-in-timing-function);
        transition-duration: var(--motion-global-fade-in-duration)
    }
    .block_blockIsSurfaceBase__LSebb,
    .block_blockIsSurfaceNeutral__kaFDX {
        border-radius: var(--border-card-radius)
    }
    .block_blockIsSurfaceBase__LSebb {
        border: 1px solid var(--color-card-border)
    }
    .block_blockIsSurfaceNeutral__kaFDX {
        border: 2px solid var(--color-background-surface-neutral)
    }
    .block_blockStack__NQPhA {
        display: flex;
        flex-direction: column;
        block-size: 100%;
        border-radius: inherit;
        overflow: clip
    }
    .block_blockContent__QSAYI {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-4);
        max-inline-size: 540px;
        flex: 1 1 100%
    }
    :where(.surfaceBase) .block_blockContent__QSAYI {
        padding-block-start: var(--spacing-card-padding-block-start-block);
        padding-block-end: var(--spacing-card-padding-block-end-block);
        padding-inline: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceBase) {
        .block_blockContent__QSAYI {
            padding-block-start: var(--spacing-card-padding-block-start-block);
            padding-block-end: var(--spacing-card-padding-block-end-block);
            padding-inline: var(--spacing-card-padding-inline-block)
        }
    }
    :where(.surfaceNeutral) .block_blockContent__QSAYI {
        padding-block-start: var(--spacing-card-padding-block-start-block);
        padding-block-end: var(--spacing-card-padding-block-end-block);
        padding-inline: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .block_blockContent__QSAYI {
            padding-block-start: var(--spacing-card-padding-block-start-block);
            padding-block-end: var(--spacing-card-padding-block-end-block);
            padding-inline: var(--spacing-card-padding-inline-block)
        }
    }
    .block_descriptionList__HOzrY {
        padding-inline-start: 1.25em
    }
    .block_blockLogo__u7NSx {
        mix-blend-mode: multiply;
        max-inline-size: 120px
    }
    .block_blockLogo__u7NSx>* {
        inline-size: auto;
        block-size: 28px
    }
    .block_blockFigure__G9Mqi {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        gap: var(--spacing-80);
        flex: 1 1 100%
    }
    .block_blockBlockquote__LFVvC {
        font: var(--typography-card-quote-font-computed, var(--typography-card-quote-font));
        letter-spacing: var(--typography-card-quote-letter-spacing-computed, var(--typography-card-quote-letter-spacing));
        margin: 0;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        hanging-punctuation: first
    }
    @media(min-width:600px) {
        .block_blockBlockquote__LFVvC {
            --typography-card-quote-font-computed: var(--typography-card-quote-sm-font);
            --typography-card-quote-letter-spacing-computed: var(--typography-card-quote-sm-letter-spacing)
        }
    }
    @media(min-width:840px) {
        .block_blockBlockquote__LFVvC {
            --typography-card-quote-font-computed: var( --typography-card-quote-md-font, var(--typography-card-quote-sm-font));
            --typography-card-quote-letter-spacing-computed: var( --typography-card-quote-md-letter-spacing, var(--typography-card-quote-sm-letter-spacing))
        }
    }
    @media(min-width:1080px) {
        .block_blockBlockquote__LFVvC {
            --typography-card-quote-font-computed: var( --typography-card-quote-lg-font, var(--typography-card-quote-md-font, var(--typography-card-quote-sm-font)));
            --typography-card-quote-letter-spacing-computed: var( --typography-card-quote-lg-letter-spacing, var(--typography-card-quote-md-letter-spacing, var(--typography-card-quote-sm-letter-spacing)))
        }
    }
    @media(min-width:1280px) {
        .block_blockBlockquote__LFVvC {
            --typography-card-quote-font-computed: var( --typography-card-quote-xl-font, var( --typography-card-quote-lg-font, var(--typography-card-quote-md-font, var(--typography-card-quote-sm-font))));
            --typography-card-quote-letter-spacing-computed: var( --typography-card-quote-xl-letter-spacing, var( --typography-card-quote-lg-letter-spacing, var(--typography-card-quote-md-letter-spacing, var(--typography-card-quote-sm-letter-spacing))))
        }
    }
    @media(min-width:1440px) {
        .block_blockBlockquote__LFVvC {
            --typography-card-quote-font-computed: var( --typography-card-quote-xxl-font, var( --typography-card-quote-xl-font, var( --typography-card-quote-lg-font, var(--typography-card-quote-md-font, var(--typography-card-quote-sm-font)))));
            --typography-card-quote-letter-spacing-computed: var( --typography-card-quote-xxl-letter-spacing, var( --typography-card-quote-xl-letter-spacing, var( --typography-card-quote-lg-letter-spacing, var(--typography-card-quote-md-letter-spacing, var(--typography-card-quote-sm-letter-spacing)))))
        }
    }
    @supports not (hanging-punctuation:first) {
        .block_blockBlockquote__LFVvC {
            text-indent: -.8ch
        }
    }
    .block_blockBlockquote__LFVvC>:first-child:before {
        content: open-quote
    }
    .block_blockBlockquote__LFVvC>:last-child:after {
        content: close-quote
    }
    .block_blockClickableRegion__2hgxG {
        position: absolute;
        inset: 0
    }
    .block_blockFigCaption__poBqz {
        font: var(--typography-global-meta-font-computed, var(--typography-global-meta-font));
        letter-spacing: var(--typography-global-meta-letter-spacing-computed, var(--typography-global-meta-letter-spacing))
    }
    @media(min-width:600px) {
        .block_blockFigCaption__poBqz {
            --typography-global-meta-font-computed: var(--typography-global-meta-sm-font);
            --typography-global-meta-letter-spacing-computed: var(--typography-global-meta-sm-letter-spacing)
        }
    }
    @media(min-width:840px) {
        .block_blockFigCaption__poBqz {
            --typography-global-meta-font-computed: var( --typography-global-meta-md-font, var(--typography-global-meta-sm-font));
            --typography-global-meta-letter-spacing-computed: var( --typography-global-meta-md-letter-spacing, var(--typography-global-meta-sm-letter-spacing))
        }
    }
    @media(min-width:1080px) {
        .block_blockFigCaption__poBqz {
            --typography-global-meta-font-computed: var( --typography-global-meta-lg-font, var(--typography-global-meta-md-font, var(--typography-global-meta-sm-font)));
            --typography-global-meta-letter-spacing-computed: var( --typography-global-meta-lg-letter-spacing, var(--typography-global-meta-md-letter-spacing, var(--typography-global-meta-sm-letter-spacing)))
        }
    }
    @media(min-width:1280px) {
        .block_blockFigCaption__poBqz {
            --typography-global-meta-font-computed: var( --typography-global-meta-xl-font, var( --typography-global-meta-lg-font, var(--typography-global-meta-md-font, var(--typography-global-meta-sm-font))));
            --typography-global-meta-letter-spacing-computed: var( --typography-global-meta-xl-letter-spacing, var( --typography-global-meta-lg-letter-spacing, var(--typography-global-meta-md-letter-spacing, var(--typography-global-meta-sm-letter-spacing))))
        }
    }
    @media(min-width:1440px) {
        .block_blockFigCaption__poBqz {
            --typography-global-meta-font-computed: var( --typography-global-meta-xxl-font, var( --typography-global-meta-xl-font, var( --typography-global-meta-lg-font, var(--typography-global-meta-md-font, var(--typography-global-meta-sm-font)))));
            --typography-global-meta-letter-spacing-computed: var( --typography-global-meta-xxl-letter-spacing, var( --typography-global-meta-xl-letter-spacing, var( --typography-global-meta-lg-letter-spacing, var(--typography-global-meta-md-letter-spacing, var(--typography-global-meta-sm-letter-spacing)))))
        }
    }
    .block_blockMedia__tgELR {
        --block-media-border-radius: var(--border-radius-700);
        --block-media-box-shadow: var(--shadow-level-200);
        --block-media-border-color: #00000008;
        overflow: clip
    }
    .block_blockMedia__tgELR img,
    .block_blockMedia__tgELR video {
        display: block;
        max-inline-size: 100%;
        block-size: auto
    }
    .block_blockStats__IVGWu {
        display: flex;
        gap: var(--spacing-16)
    }
    :where(.surfaceBase) .block_mediaShadowMedium__PlDGh {
        outline: 1px solid var(--block-media-border-color);
        box-shadow: var(--block-media-box-shadow)
    }
    @container surface style(--surface-type: surfaceBase) {
        .block_mediaShadowMedium__PlDGh {
            outline: 1px solid var(--block-media-border-color);
            box-shadow: var(--block-media-box-shadow)
        }
    }
    :where(.surfaceNeutral) .block_mediaShadowMedium__PlDGh {
        outline: 1px solid var(--block-media-border-color);
        box-shadow: var(--block-media-box-shadow)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .block_mediaShadowMedium__PlDGh {
            outline: 1px solid var(--block-media-border-color);
            box-shadow: var(--block-media-box-shadow)
        }
    }
    :where(.surfaceBase) .block_mediaPlacementLeft__wXgqU {
        border-start-end-radius: var(--block-media-border-radius);
        margin-inline-end: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceBase) {
        .block_mediaPlacementLeft__wXgqU {
            border-start-end-radius: var(--block-media-border-radius);
            margin-inline-end: var(--spacing-card-padding-inline-block)
        }
    }
    :where(.surfaceNeutral) .block_mediaPlacementLeft__wXgqU {
        border-start-end-radius: var(--block-media-border-radius);
        margin-inline-end: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .block_mediaPlacementLeft__wXgqU {
            border-start-end-radius: var(--block-media-border-radius);
            margin-inline-end: var(--spacing-card-padding-inline-block)
        }
    }
    :where(.surfaceBase) .block_mediaPlacementCenter__3TeZf {
        border-radius: var(--block-media-border-radius);
        margin-inline-end: var(--spacing-card-padding-inline-block);
        margin-inline-start: var(--spacing-card-padding-inline-block);
        margin-block-end: var(--spacing-card-padding-block-end-block)
    }
    @container surface style(--surface-type: surfaceBase) {
        .block_mediaPlacementCenter__3TeZf {
            border-radius: var(--block-media-border-radius);
            margin-inline-end: var(--spacing-card-padding-inline-block);
            margin-inline-start: var(--spacing-card-padding-inline-block);
            margin-block-end: var(--spacing-card-padding-block-end-block)
        }
    }
    :where(.surfaceNeutral) .block_mediaPlacementCenter__3TeZf {
        border-radius: var(--block-media-border-radius);
        margin-inline-end: var(--spacing-card-padding-inline-block);
        margin-inline-start: var(--spacing-card-padding-inline-block);
        margin-block-end: var(--spacing-card-padding-block-end-block)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .block_mediaPlacementCenter__3TeZf {
            border-radius: var(--block-media-border-radius);
            margin-inline-end: var(--spacing-card-padding-inline-block);
            margin-inline-start: var(--spacing-card-padding-inline-block);
            margin-block-end: var(--spacing-card-padding-block-end-block)
        }
    }
    :where(.surfaceBase) .block_mediaPlacementRight__6o28Y {
        border-start-start-radius: var(--block-media-border-radius);
        margin-inline-start: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceBase) {
        .block_mediaPlacementRight__6o28Y {
            border-start-start-radius: var(--block-media-border-radius);
            margin-inline-start: var(--spacing-card-padding-inline-block)
        }
    }
    :where(.surfaceNeutral) .block_mediaPlacementRight__6o28Y {
        border-start-start-radius: var(--block-media-border-radius);
        margin-inline-start: var(--spacing-card-padding-inline-block)
    }
    @container surface style(--surface-type: surfaceNeutral) {
        .block_mediaPlacementRight__6o28Y {
            border-start-start-radius: var(--block-media-border-radius);
            margin-inline-start: var(--spacing-card-padding-inline-block)
        }
    }
    @container (min-width: 720px) {
        .block_blockStack__NQPhA.block_directionRow__Enme4 {
            flex-direction: row;
            justify-content: flex-start
        }
        .block_directionRow__Enme4 .block_blockContent__QSAYI:has(~.block_blockMedia__tgELR) {
            flex: 1 1;
            max-inline-size: none
        }
        .block_directionRow__Enme4 .block_blockMedia__tgELR {
            flex: 1 1
        }
        :where(.surfaceBase) .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
            border-start-start-radius: var(--block-media-border-radius);
            align-self: end;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceBase) {
            .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
                border-start-start-radius: var(--block-media-border-radius);
                align-self: end;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
        :where(.surfaceNeutral) .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
            border-start-start-radius: var(--block-media-border-radius);
            align-self: end;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceNeutral) {
            .block_directionRow__Enme4 .block_mediaPlacementLeft__wXgqU {
                border-start-start-radius: var(--block-media-border-radius);
                align-self: end;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
        :where(.surfaceBase) .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
            align-self: center;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceBase) {
            .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
                align-self: center;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
        :where(.surfaceNeutral) .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
            align-self: center;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceNeutral) {
            .block_directionRow__Enme4 .block_mediaPlacementCenter__3TeZf {
                align-self: center;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
        :where(.surfaceBase) .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
            align-self: end;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceBase) {
            .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
                align-self: end;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
        :where(.surfaceNeutral) .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
            align-self: end;
            margin-block-start: var(--spacing-card-padding-block-start-block)
        }
        @container surface style(--surface-type: surfaceNeutral) {
            .block_directionRow__Enme4 .block_mediaPlacementRight__6o28Y {
                align-self: end;
                margin-block-start: var(--spacing-card-padding-block-start-block)
            }
        }
    }
}

.Hero_container__WCPEk {
    --hero-layout-row: 0;
    container-type: inline-size;
    margin-top: 80px
}

.Hero_container__WCPEk:not(:last-child) {
    margin-bottom: var(--spacing-section-inner)
}

.Hero_container__WCPEk:has(.Hero_image__LzrK1) {
    --hero-layout-row: 1
}

.Hero_hero__XKL82 {
    --hero-max-width: 840px;
    --hero-margin: 0 auto;
    --hero-text-align: center;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    justify-items: center;
    margin: var(--hero-margin);
    max-width: var(--hero-max-width);
    text-align: var(--hero-text-align)
}

@container style(--hero-layout-row: 1) and (width >=800px) {
    .Hero_hero__XKL82 {
        --hero-margin: 0;
        --hero-max-width: unset;
        --hero-text-align: unset;
        grid-template-rows: repeat(5, max-content);
        grid-auto-flow: column;
        align-items: center;
        justify-items: start;
        column-gap: 28px
    }
}

.Hero_heading__pu__U.Hero_heading__pu__U {
    font: var(--typography-global-title-font-computed, var(--typography-global-title-font));
    letter-spacing: var(--typography-global-title-letter-spacing-computed, var(--typography-global-title-letter-spacing));
    text-wrap: balance;
    margin: 0;
    color: var(--color-text-strong);
    -webkit-hyphenate-limit-before: var(--hyphens-before);
    -webkit-hyphenate-limit-after: var(--hyphens-after);
    -webkit-hyphenate-limit-lines: var(--hyphens-lines);
    hyphenate-limit-chars: var(--hyphens-length) var(--hyphens-before) var(--hyphens-after);
    hyphenate-limit-lines: var(--hyphens-lines)
}

@media(min-width:600px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        --typography-global-title-font-computed: var(--typography-global-title-sm-font);
        --typography-global-title-letter-spacing-computed: var(--typography-global-title-sm-letter-spacing)
    }
}

@media(min-width:840px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        --typography-global-title-font-computed: var( --typography-global-title-md-font, var(--typography-global-title-sm-font));
        --typography-global-title-letter-spacing-computed: var( --typography-global-title-md-letter-spacing, var(--typography-global-title-sm-letter-spacing))
    }
}

@media(min-width:1080px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        --typography-global-title-font-computed: var( --typography-global-title-lg-font, var(--typography-global-title-md-font, var(--typography-global-title-sm-font)));
        --typography-global-title-letter-spacing-computed: var( --typography-global-title-lg-letter-spacing, var(--typography-global-title-md-letter-spacing, var(--typography-global-title-sm-letter-spacing)))
    }
}

@media(min-width:1280px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        --typography-global-title-font-computed: var( --typography-global-title-xl-font, var( --typography-global-title-lg-font, var(--typography-global-title-md-font, var(--typography-global-title-sm-font))));
        --typography-global-title-letter-spacing-computed: var( --typography-global-title-xl-letter-spacing, var( --typography-global-title-lg-letter-spacing, var(--typography-global-title-md-letter-spacing, var(--typography-global-title-sm-letter-spacing))))
    }
}

@media(min-width:1440px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        --typography-global-title-font-computed: var( --typography-global-title-xxl-font, var( --typography-global-title-xl-font, var( --typography-global-title-lg-font, var(--typography-global-title-md-font, var(--typography-global-title-sm-font)))));
        --typography-global-title-letter-spacing-computed: var( --typography-global-title-xxl-letter-spacing, var( --typography-global-title-xl-letter-spacing, var( --typography-global-title-lg-letter-spacing, var(--typography-global-title-md-letter-spacing, var(--typography-global-title-sm-letter-spacing)))))
    }
}

@container style(--hero-layout-row: 1) and (width >=800px) {
    .Hero_heading__pu__U.Hero_heading__pu__U {
        grid-row: 2
    }
}

:is(:lang(de)) .Hero_heading__pu__U.Hero_heading__pu__U {
    white-space: normal;
    hyphens: auto;
    --hyphens-before: 2;
    --hyphens-after: 2;
    --hyphens-lines: 2;
    --hyphens-length: 6
}

:is(:lang(fr)) .Hero_heading__pu__U.Hero_heading__pu__U {
    white-space: normal;
    hyphens: auto;
    --hyphens-before: 3;
    --hyphens-after: 3;
    --hyphens-lines: 1;
    --hyphens-length: 8
}

.Hero_subheading__79Mmp {
    font: var(--typography-global-deck-font-computed, var(--typography-global-deck-font));
    letter-spacing: var(--typography-global-deck-letter-spacing-computed, var(--typography-global-deck-letter-spacing));
    margin: 12px 0 0;
    text-wrap: balance;
    max-width: 56ch;
    color: var(--color-text-normal)
}

@media(min-width:600px) {
    .Hero_subheading__79Mmp {
        --typography-global-deck-font-computed: var(--typography-global-deck-sm-font);
        --typography-global-deck-letter-spacing-computed: var(--typography-global-deck-sm-letter-spacing)
    }
}

@media(min-width:840px) {
    .Hero_subheading__79Mmp {
        --typography-global-deck-font-computed: var( --typography-global-deck-md-font, var(--typography-global-deck-sm-font));
        --typography-global-deck-letter-spacing-computed: var( --typography-global-deck-md-letter-spacing, var(--typography-global-deck-sm-letter-spacing))
    }
}

@media(min-width:1080px) {
    .Hero_subheading__79Mmp {
        --typography-global-deck-font-computed: var( --typography-global-deck-lg-font, var(--typography-global-deck-md-font, var(--typography-global-deck-sm-font)));
        --typography-global-deck-letter-spacing-computed: var( --typography-global-deck-lg-letter-spacing, var(--typography-global-deck-md-letter-spacing, var(--typography-global-deck-sm-letter-spacing)))
    }
}

@media(min-width:1280px) {
    .Hero_subheading__79Mmp {
        --typography-global-deck-font-computed: var( --typography-global-deck-xl-font, var( --typography-global-deck-lg-font, var(--typography-global-deck-md-font, var(--typography-global-deck-sm-font))));
        --typography-global-deck-letter-spacing-computed: var( --typography-global-deck-xl-letter-spacing, var( --typography-global-deck-lg-letter-spacing, var(--typography-global-deck-md-letter-spacing, var(--typography-global-deck-sm-letter-spacing))))
    }
}

@media(min-width:1440px) {
    .Hero_subheading__79Mmp {
        --typography-global-deck-font-computed: var( --typography-global-deck-xxl-font, var( --typography-global-deck-xl-font, var( --typography-global-deck-lg-font, var(--typography-global-deck-md-font, var(--typography-global-deck-sm-font)))));
        --typography-global-deck-letter-spacing-computed: var( --typography-global-deck-xxl-letter-spacing, var( --typography-global-deck-xl-letter-spacing, var( --typography-global-deck-lg-letter-spacing, var(--typography-global-deck-md-letter-spacing, var(--typography-global-deck-sm-letter-spacing)))))
    }
}

@container style(--hero-layout-row: 1) and (width >=800px) {
    .Hero_subheading__79Mmp {
        text-wrap: inherit
    }
}

.Hero_ctas__xnZ_m {
    --hero-ctas-justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: var(--hero-ctas-justify-content)
}

@container style(--hero-layout-row: 1) and (width >=800px) {
    .Hero_ctas__xnZ_m {
        --hero-ctas-justify-content: unset
    }
}

.Hero_image__LzrK1 {
    --hero-image-width: auto;
    --hero-image-height: auto;
    --hero-image-max-width: 100%;
    --hero-image-max-height: 310px;
    --hero-image-grid-row: 1;
    width: var(--hero-image-width);
    max-width: var(--hero-image-max-width);
    height: var(--hero-image-height);
    max-height: var(--hero-image-max-height);
    grid-row: var(--hero-image-grid-row);
    display: block;
    margin-bottom: 12px
}

@container style(--hero-layout-row: 1) and (width >=800px) {
    .Hero_image__LzrK1 {
        --hero-image-max-width: 392px;
        --hero-image-max-height: unset;
        --hero-image-grid-row: 1/-1;
        justify-self: center;
        grid-column: 2;
        margin-bottom: 0
    }
}

.NotionCalendarIcon_container__JN0MU {
    display: flex
}

.NotionCalendarIcon_container__JN0MU>svg {
    width: 100%;
    height: 100%
}

.NotionCalendarIcon_hasDropShadow__aL9Pk {
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .25))
}

.NotionCalendarIcon_appIcon__zxiL4 {
    --color-icon-background: var(--color-blue-100);
    --calendar-hero-icon-size: 22px;
    --calendar-hero-icon-padding: 5px;
    --calendar-hero-icon-border-radius: var(--border-radius-400);
    --calendar-hero-icon-width-and-height: calc(var(--calendar-hero-icon-size) + var(--calendar-hero-icon-padding) * 2);
    display: inline-block;
    background: var(--color-icon-background);
    border-radius: var(--calendar-hero-icon-border-radius);
    width: var(--calendar-hero-icon-width-and-height);
    height: var(--calendar-hero-icon-width-and-height);
    padding: var(--calendar-hero-icon-padding)
}

@media(min-width:600px) {
    .NotionCalendarIcon_appIcon__zxiL4 {
        --calendar-hero-icon-size: 32px;
        --calendar-hero-icon-padding: 8px;
        --calendar-hero-icon-border-radius: var(--border-radius-500)
    }
}

.NotionCalendarIcon_dates__QiFn_>g {
    opacity: 0
}

.NotionCalendarIcon_dates__QiFn_>g.NotionCalendarIcon_current__Iwe8x {
    opacity: 1
}

.NotionCalendarIcon_date__9obhw>g {
    animation: none;
    transition: none
}

.form_root__W1NM_ {
    display: flex;
    flex-direction: column;
    gap: 28px
}

.form_root__W1NM_[hidden] {
    display: none
}

.HeroDeprecated_hero__AZpJo {
    --hero-margin-block: var(--spacing-48);
    --hero-gap: var(--spacing-48);
    display: grid;
    margin-block: var(--hero-margin-block);
    gap: var(--hero-gap);
    justify-items: center
}

.HeroDeprecated_header__BXmWG {
    display: flex;
    flex-direction: column;
    gap: 12px;
    order: 1;
    max-width: 720px;
    align-items: center;
    text-align: center
}

.HeroDeprecated_eyebrow__nfDsI {
    color: var(--color-text-muted);
    margin: 0
}

.HeroDeprecated_eyebrow__nfDsI,
.HeroDeprecated_subtitle__oa7yd {
    font: var(--typography-sans-300-medium-font);
    letter-spacing: var(--typography-sans-300-medium-letter-spacing)
}

.HeroDeprecated_subtitle__oa7yd {
    margin-bottom: var(--spacing-8);
    margin-top: 0
}

.HeroDeprecated_picture__tHDoE {
    order: 2
}

@media(min-width:840px) {
    .HeroDeprecated_hero__AZpJo {
        --hero-columns: 1fr 1fr;
        --hero-margin-block: var(--spacing-64);
        --hero-gap: var(--spacing-32)
    }
    .HeroDeprecated_hero__AZpJo.HeroDeprecated_docs__O8Uo6,
    .HeroDeprecated_hero__AZpJo.HeroDeprecated_projects__S4mLL,
    .HeroDeprecated_hero__AZpJo.HeroDeprecated_wikis__VOnqI {
        align-items: end;
        grid-template-columns: var(--hero-columns)
    }
    .HeroDeprecated_header__BXmWG {
        order: 2
    }
    .HeroDeprecated_picture__tHDoE {
        order: 1
    }
    .HeroDeprecated_docs__O8Uo6,
    .HeroDeprecated_projects__S4mLL,
    .HeroDeprecated_wikis__VOnqI {
        --hero-margin-block: var(--spacing-96)
    }
    .HeroDeprecated_docs__O8Uo6 .HeroDeprecated_header__BXmWG,
    .HeroDeprecated_projects__S4mLL .HeroDeprecated_header__BXmWG,
    .HeroDeprecated_wikis__VOnqI .HeroDeprecated_header__BXmWG {
        order: 1;
        align-items: flex-start;
        text-align: left
    }
    .HeroDeprecated_docs__O8Uo6 .HeroDeprecated_picture__tHDoE,
    .HeroDeprecated_projects__S4mLL .HeroDeprecated_picture__tHDoE,
    .HeroDeprecated_wikis__VOnqI .HeroDeprecated_picture__tHDoE {
        order: 2
    }
}

@media(min-width:1080px) {
    .HeroDeprecated_hero__AZpJo {
        --hero-columns: 7fr 9fr
    }
}

.HeroDeprecated_cta__2szyO {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap
}

.HeroDeprecated_cta__2szyO>:nth-child(3) {
    margin-top: 10px;
    flex-basis: 100%
}

.HeroDeprecated_cta__2szyO>:nth-child(3):only-child {
    flex-basis: auto
}

.formHero_container__5JRZm {
    --nav-height: 66px;
    --nav-offset: 32px;
    --form-min-width: 300px;
    --form-max-width: 500px;
    container-type: inline-size
}

.formHero_grid__Qoqgi {
    position: relative
}

@container (width < 900px) {
    .formHero_grid__Qoqgi {
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: var(--form-max-width)
    }
}

@container (width >=900px) {
    .formHero_grid__Qoqgi {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(var(--form-min-width), var(--form-max-width));
        gap: 48px;
        align-items: start
    }
    .formHero_content__bcRhx {
        position: sticky;
        top: calc(var(--nav-height) + var(--nav-offset))
    }
}

.formHero_imageContainer__jCk84 {
    margin-top: 24px
}

@layer front-ui-atoms {
    .buttonGroup_buttonGroup__zMcax {
        inline-size: max-content;
        max-inline-size: 100%
    }
    .buttonGroup_buttonGroup__zMcax>* {
        flex: 1 1 auto
    }
}

@layer front-ui-components {
    .hero_container__aJcVj {
        container-type: inline-size
    }
    .hero_hero__B6z_N {
        align-items: center;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        justify-items: center;
        margin-inline: auto;
        max-inline-size: 840px;
        text-align: center
    }
    .hero_hero__B6z_N>:not(:last-child, :has(+.hero_media__V_qwI)) {
        margin-block-end: var(--spacing-12)
    }
    @container (inline-size >=800px) {
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N {
            margin-inline: 0;
            max-inline-size: unset;
            align-items: center;
            column-gap: var(--spacing-28);
            grid-auto-flow: column;
            grid-template-rows: 1fr max-content 1fr;
            justify-items: start;
            text-align: start
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N>:not(.hero_media__V_qwI) {
            grid-column: 1
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:before {
            content: "";
            grid-column: 1;
            grid-row: 1/2
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:has(>:nth-child(3):last-child) {
            grid-template-rows: 1fr repeat(2, max-content) 1fr
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:has(>:nth-child(4):last-child) {
            grid-template-rows: 1fr repeat(3, max-content) 1fr
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:has(>:nth-child(5):last-child) {
            grid-template-rows: 1fr repeat(4, max-content) 1fr
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:has(>:nth-child(6):last-child) {
            grid-template-rows: 1fr repeat(5, max-content) 1fr
        }
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_hero__B6z_N:has(>:nth-child(7):last-child) {
            grid-template-rows: 1fr repeat(6, max-content) 1fr
        }
    }
    .hero_description__6vjku {
        text-wrap: balance
    }
    @container (inline-size >=800px) {
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_description__6vjku {
            text-wrap: pretty
        }
    }
    .hero_description__6vjku:not(:last-child, :has(+.hero_media__V_qwI)) {
        margin-block-end: var(--spacing-20)
    }
    .hero_media__V_qwI {
        block-size: auto;
        display: block;
        inline-size: auto;
        margin-block-end: var(--spacing-20);
        max-inline-size: 100%;
        order: -1
    }
    @container (inline-size >=800px) {
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI {
            grid-column: 2;
            grid-row: 1/-1;
            justify-self: center;
            margin-block-end: 0;
            max-inline-size: 392px;
            order: unset
        }
    }
    .hero_media__V_qwI img,
    .hero_media__V_qwI video {
        block-size: auto;
        display: block;
        inline-size: auto;
        max-block-size: 310px;
        max-inline-size: 100%
    }
    @container (inline-size >=800px) {
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI img,
        .hero_container__aJcVj:has(.hero_media__V_qwI) .hero_media__V_qwI video {
            max-block-size: unset
        }
    }
}